:root{
    --color50:  #FFF7ED;
    --color100: #FFEDD5;
    --color200: #FED7AA;
    --color300: #FDBA74;
    --color400: #FB923C;
    --color500: #F97316;
    --color600: #EA580C;
    --color700: #C2410C;
    --color800: #9A3412;
    --color900: #7C2D12;

}


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin:0px;
    border:0px;
}

.header{
    height: 50px;
    background-color: var(--color400);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 30px;
    padding:20px;
}

.content{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 30vw 70vw;
}

.bookInput{
    background-color: var(--color900);
}

.bookForm{
    display: none;
}

.alert{
    display: none;
}

.bookList{
    background-color: var(--color300);
}

.footer{
    height: 30px;
    background-color: var(--color800);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color:var(--color100);
}